/node_modules
/vendor
/public/hot
/public/storage
/public/build
/build
/language
/language.js
/storage/*.key
/storage/app/imports/*
!/storage/app/imports/.gitignore
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
!/storage/framework/cache/data/
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/client-build
/personal-build
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/bootstrap/cache/*.php
/database/database.sqlite
/debug_server2.php
/MailZen-master.zip
/mailzen_build_*.zip
/mailzen_personal_*.zip
.DS_Store
